<header class="app-header">
  <div class="nav-links">
    <a routerLink="/" class="nav-link" i18n="@@header.homeLink">home</a>
    <a routerLink="/search" class="nav-link" i18n="@@header.searchLink">search</a>
    <a routerLink="/about-us" class="nav-link" i18n="@@header.aboutUsLink">about us</a>
    <a routerLink="/about-me" class="nav-link" i18n="@@header.aboutMeLink">about me</a>
  </div>
  <!-- <div class="lang-switcher">
    <button (click)="changeLanguage('pt-BR')" [class.active]="localeId === 'pt-BR'">PT</button>
    <button (click)="changeLanguage('en-US')" [class.active]="localeId === 'en-US'">EN</button>
  </div> -->
</header>
