<div class="music-finder-container" [@pageAnimations]>
	<div class="music-finder-left">
		<div class="music-finder-brand">with love.</div>
		<h1 class="music-finder-title">The only and one, Ariana Grande!</h1>
		<p class="music-finder-desc">
			Discover new songs or remember the lyrics of the one <br> that won't leave your head.
		</p>
		<form class="music-finder-search-form" (ngSubmit)="buscar()">
			<mat-form-field appearance="outline" class="music-finder-input">
				<mat-label>Type the word or verse</mat-label>
					<mat-icon matPrefix>search</mat-icon>
				<input matInput placeholder="Ex: thank u, next" [(ngModel)]="searchTerm" name="searchTerm" (ngModelChange)="onSearchInput()">
			</mat-form-field>
			<button mat-flat-button color="primary" class="music-finder-btn" type="submit" [disabled]="isLoading">
				<span *ngIf="!isLoading">Search </span>
				<span *ngIf="isLoading">Searching...</span>
			</button>
		</form>
		<div class="music-finder-companies-label">links</div>
		<div class="music-finder-companies">
			<span>spotify</span>
			<span>youtube</span>
		</div>
	</div>

	<div class="music-finder-right">
		<div class="music-finder-lyrics-display" [class.has-results]="searchResults.length > 0">
			<div *ngIf="isLoading" class="lyrics-placeholder">
				<p>Searching...</p>
			</div>

			<div *ngIf="!isLoading && searchResults.length === 0" class="lyrics-placeholder">
				<p *ngIf="!hasSearched">The song lyrics will appear here...</p>
				<p *ngIf="hasSearched">No results found for "{{ searchTerm }}".</p>
			</div>

			<div *ngFor="let result of searchResults" class="lyrics-card">
				<h3>{{ result.musica }}</h3>
				<p class="album-info">Album: {{ result.album }}</p>
				<pre class="estrofe" [innerHTML]="result.estrofe"></pre>
				<div class="card-footer">
					<!-- Adiciona a referência ABNT, usando innerHTML para renderizar o <strong> -->
					<small class="abnt-reference" [innerHTML]="result.referencia_abnt"></small>
				</div>
			</div>
		</div>
	</div>
</div>
