<div class="home-container" @pageAnimations>
  <h1 class="home-title">with love.</h1>
  <p class="home-subtitle" i18n="Subtitle of the project on the home page">Ariana Grande lyrics search engine</p>
  <p class="home-description" i18n="Description of the project on the home page">
    Born from a loving request for a true Arianator, this is a place to find the words to your favorite feelings.
    <br>Forgot a line? Can't place a word? Search any snippet from Ariana's entire discography and let the music speak.
  </p>
  <a routerLink="/search" class="home-cta-button" i18n="Call to action button on the home page@@home.ctaButton">find feelings
  </a>
</div>
