<div class="home-container" @pageAnimations>
  <h1 class="home-title">with love.</h1>
  <p class="home-description" i18n="Description of the project on the home page">
    This project was initially created by me, at the request of my beloved, to help her create questions for her English language tests at school. She enjoys using music in a fun way to learn the language.
    <br>
    From a project focusing on Taylor Swift's songs,
    I took it as a base and built this project, starring the singer
    Ariana Grande, who my love is obsessed with.
  </p>
  <a routerLink="/search" class="home-cta-button" i18n="Call to action button on the home page@@home.ctaButton">find feelings
  </a>
</div>
